.resaltar {
text-align: center;
margin-top: 30px;
color: rgb(240, 78, 102); 
font-weight: bold;

}

.fs-4 {
text-align:justify;
margin-left: 150px;
margin-right: 150px;
margin-top: 30px;

}